/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
nextButton {
  border-radius: 4px;
  background-color: #49FF33;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

nextButton{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nextButton:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

nextButton:hover{
  padding-right: 24px;
  padding-left:8px;
}

nextButton:hover:after {
  opacity: 1;
  right: 10px;
}